@font-face {
	font-family: "daydream";
	src: url("../fonts/Daydream.ttf");
}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #e3ab5a;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}

p {
	color: #e37895;
}

a {
	color: #f5c5b5;
}

a:hover {
	color: #f7e0d8;
}

/* containers */

.container-fluid {
	padding: 5% 15%;
}

.purple-section {
	background: linear-gradient(#fef5cc 55%, #ffe2f4 45%);
}

.white-section {
	background-color: white;
}

/* header */

#main-header .container-fluid {
	padding: 3% 15% 0%;
}

.title-text {
	font-weight: 800;
	font-size: 3.5rem;
	line-height: 1.5;
}
.header-title {
	padding-top: 4%;
	text-align: left;
}

.order-btn {
	margin: 2rem 0 3rem 0;
	background-color: #e3ab5a;
	border: none;
	font-size: 1.5rem;
	color: white;
}

.order-btn:hover {
	margin-top: 2rem 0 3rem 0;
	background-color: #fdca83;
	border: none;
}

.title-image {
	width: 100%;
	margin-bottom: 2rem;
}

/* navbar */

#main-navbar .container-fluid {
	padding: 0% 15% 3%;
}

.nav-link {
	font-size: 1.2rem;
	margin: 1rem;
	font-weight: 500;
}

.navbar-custom .navbar-brand {
	color: black;
}

.navbar-warning .navbar-nav .nav-link {
	color: #e3ab5a;
}

.navbar-custom .navbar-nav .nav-link:hover {
	color: #fdca83;
}

.navbar-toggler-icon {
	background-image: url(../images/hamburger.png);
}

/* Nutrition */
.nutrition-box {
	margin: 0;
}

.nutrition-item {
	color: #e37895;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	padding: 5%;
}

.nutrition-img {
	margin: 2rem;
}

.nutrition-text {
	font-size: 1.5rem;
}

/* flavors  */
.carousel-inner .container-fluid {
	padding: 8% 25%;
}

.flavor-title-strawberry {
	font-family: "daydream";
	font-size: 5rem;
	margin: 2rem auto 1rem;
}
.flavor-title-mango {
	font-family: "daydream";
	font-size: 5rem;
	margin: 2rem auto 1rem;
}

.flavor-price {
	font-size: 2rem;
}

.flavor-img {
	float: right;
}

.flavor-description-strawberry {
	text-align: left;
	float: left;
	color: #e37895;
}
.flavor-description-mango {
	text-align: left;
	float: left;
	color: #f4ba63;
}

.flavor-paragraph-strawberry {
	margin: 0rem;
	color: #e37895;
}
.flavor-paragraph-mango {
	margin: 0rem;
	color: #f4ba63;
}

.order-btn-strawberry {
	margin-top: 1rem;
	background-color: #e37895;
	border: none;
	font-size: 1rem;
	color: white;
}

.order-btn-strawberry:hover {
	margin-top: 1rem;
	background-color: #ee94ac;
	border: none;
}
.order-btn-mango {
	margin-top: 1rem;
	background-color: #f4ba63;
	border: none;
	font-size: 1rem;
	color: white;
}

.order-btn-mango:hover {
	margin-top: 1rem;
	background-color: #ffd699;
	border: none;
}

/* forms */

.forms {
	background-color: #e37895;
	color: white;
}

.contact-text {
	width: 80%;
	font-size: 1.5rem;
}

.form-div {
	text-align: left;
	padding: 2rem;
	margin-bottom: 2rem;
	border-radius: 5%;
}

.contact-icon {
	text-align: center;
	padding: 1rem;
}

.contact-title {
	font-weight: 800;
	font-size: rem;
	line-height: 1.5;
	margin-bottom: 0;
}

.contact-label {
	margin-top: 0;
}

.contact-info {
	text-align: center;
	padding: 2rem 2rem 2rem 0;
}

.form-btn {
	margin-top: 1rem;
	background-color: #e3ab5a;
	border: none;
	font-size: 1rem;
	color: white;
}
.form-btn:hover {
	margin-top: 1rem;
	background-color: #ffd394;
	border: none;
	font-size: 1rem;
	color: white;
}

/* footer */

.footer-div {
	padding: 1rem;
	color: black;
}

.footer-icon {
	padding: 1rem;
	color: #e37895;
}
.footer-icon:hover {
	padding: 1rem;
	color: #eed2d9;
}

@media (max-width: 1200px) {
	.container-fluid {
		padding: 7% 25%;
	}

	#main-navbar .container-fluid {
		padding: 0% 20% 3%;
	}

	.header-title {
		text-align: center;
		padding-top: 3rem;
	}

	.title-text {
		font-size: 3rem;
	}

	.order-btn {
		margin-bottom: 2rem;
	}

	.title-image {
		position: static;
		float: none;
		margin: 3rem auto 4rem;
	}

	.flavor-description-mango {
		text-align: center;
		font-size: 1.5rem;
		float: none;
		margin: auto;
	}

	.flavor-description-strawberry {
		text-align: center;
		font-size: 1.5rem;
		float: none;
		margin: auto;
	}

	.flavor-img {
		float: none;
		margin: 2rem;
		width: 100%;
		margin: 3rem auto 1rem;
	}

	.form-div {
		text-align: center;
	}

	.header-title {
		text-align: center;
		margin: auto;
	}

	.contact-text {
		margin: auto;
	}

	.contact-info {
		text-align: center;
		padding: 1rem;
		margin: auto;
	}
}
